<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pretolesi.easyscada" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/android:Theme.Holo"
            android:name="com.pretolesi.easyscada.Runtime.RunTimeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/android:Theme.Holo"
            android:name="com.pretolesi.easyscada.Settings.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:parentActivityName = "com.pretolesi.easyscada.Control.LightSwitchControlPropActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/android:Theme.Holo"
            android:name="com.pretolesi.easyscada.Control.LightSwitchControlPropActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:parentActivityName = "com.pretolesi.easyscada.Control.NumericValueControlPropActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/android:Theme.Holo"
            android:name="com.pretolesi.easyscada.Control.NumericValueControlPropActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:parentActivityName = "com.pretolesi.easyscada.Control.SensorValueControlPropActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/android:Theme.Holo"
            android:name="com.pretolesi.easyscada.Control.SensorValueControlPropActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:parentActivityName = "com.pretolesi.easyscada.TcpIpClient.TcpIpClientProtocolPropActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/android:Theme.Holo"
            android:name="com.pretolesi.easyscada.TcpIpClient.TcpIpClientProtocolPropActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:parentActivityName = "com.pretolesi.easyscada.BluetoothClient.BluetoothClientProtocolPropActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/android:Theme.Holo"
            android:name="com.pretolesi.easyscada.BluetoothClient.BluetoothClientProtocolPropActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:parentActivityName = "com.pretolesi.easyscada.BluetoothClient.BluetoothClientConfiguration"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/android:Theme.Holo"
            android:name="com.pretolesi.easyscada.BluetoothClient.BluetoothClientConfiguration"
            android:label="@string/app_name" >
        </activity>

    </application>

</manifest>
